<html layout:decorate="~{fragments/layout}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <title>Document</title>
    <link
            href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css"
            rel="stylesheet"
    />
    <link
            href="https://cdn.datatables.net/2.0.5/css/dataTables.bootstrap5.css"
            rel="stylesheet"
    />
</head>
<style>
    /* Custom CSS for hover effect */
    .custom-cursor-pointer:hover {
        cursor: pointer;
        background-color: #5d60ef;
        color: white;
        transition: 200ms linear;
    }
</style>
<body>

<div layout:fragment="content">
    <div class="d-flex justify-content-between align-items-center py-4">
        <!--            <h4>Danh Sách</h4>-->
        <nav aria-label="breadcrumb" style="--bs-breadcrumb-divider: '>';">
            <ol class="breadcrumb mb-0 font-weight-bold" style="font-size: 20px">
                <li class="breadcrumb-item">
                    <a class="text-decoration-none" th:href="@{/admin/penalty}">
                        Quản lý phiếu phạt
                    </a>
                </li>
                <li aria-current="page" class="breadcrumb-item active">Danh sách</li>
            </ol>
        </nav>
    </div>
    <!-- Table Header -->
    <div class="bg-white border p-3" style="border-radius: 10px;">
        <table
                class="table table-striped"
                id="penaltyTable"
                style="width: 100%"
        >
            <thead>
            <tr>
                <th>ID</th>
                <th>Người dùng</th>
                <th>Phạt</th>
                <th>Phí</th>
                <th>Ngày giờ</th>
                <th>Trạng thái</th>
                <th>Chức năng</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="penalty, index : ${list}">
                <td th:text="${penalty.id}">ID</td>
                <td th:text="${penalty.person.id}">person</td>
                <td th:text="${penalty.type}">type</td>
                <td th:text="${penalty.payment}">payment</td>
                <td th:text="${penalty.date}">date</td>
                <td th:text="${penalty.status}">status</td>
                <td class="text-center">
                    <a th:href="@{/admin/penalty/detail/{id}(id=${penalty.id})}">
                        <i class="fa-solid fa-eye"></i>
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <script>
        new DataTable("#penaltyTable");
    </script>
    <script>
        $(document).ready(function () {
            console.log(1)
            loadingEle.hide()
        });
    </script>
</div>
</body>

</html>
