<html layout:decorate="~{fragments/layout}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <title>Document</title>
    <link
            href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css"
            rel="stylesheet"
    />
    <link
            href="https://cdn.datatables.net/2.0.5/css/dataTables.bootstrap5.css"
            rel="stylesheet"
    />
</head>
<style>
    /* Custom CSS for hover effect */
    .custom-cursor-pointer:hover {
        cursor: pointer;
        background-color: #5d60ef;
        color: white;
        transition: 200ms linear;
    }
</style>
<body>
<div layout:fragment="content">
    <div class="position-fixed top-0 end-0 p-3" style="z-index: 11">
        <div aria-atomic="true" aria-live="assertive" class="toast align-items-center bg-warning border-0"
             id="alert-error-toast"
             role="alert"
        >
            <div class="d-flex">
                <div class="toast-body" id="toast-body">
                </div>
                <button aria-label="Close" class="btn-close me-2 m-auto" data-bs-dismiss="toast" type="button"></button>
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-between align-items-center py-4">
        <!--            <h4>Danh Sách</h4>-->
        <nav aria-label="breadcrumb" style="--bs-breadcrumb-divider: '>';">
            <ol class="breadcrumb mb-0 font-weight-bold" style="font-size: 20px">
                <li class="breadcrumb-item">
                    <a class="text-decoration-none" th:href="@{/admin/usage}">
                        Quản lý phiếu mượn
                    </a>
                </li>
                <li aria-current="page" class="breadcrumb-item active">Danh sách</li>
            </ol>
        </nav>
    </div>
    <div class="bg-white border p-3" style="border-radius: 10px;">
        <table
                class="table table-striped"
                id="usageTable"
                style="width: 100%"
        >
            <thead>
            <tr class="">
                <th>STT</th>
                <th>ID</th>
                <th>Tên</th>
                <th>Thiết bị</th>
                <th>Ngày đặt</th>
                <th>Chức năng</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="usage, index : ${list}">
                <td th:text="${index.index + 1}">name</td>
                <td th:text="${usage.id}">name</td>
                <td th:text="${usage.person.name}">name</td>
                <td th:text="${usage.device.name}">device</td>
                <td th:text="${usage.bookingTime}">phone</td>
                <td class="text-center">
                    <div th:if="${usage.borrowTime == null}">
                        <a class="btn-primary btn" th:href="@{/admin/usage/get/{id}(id=${usage.id})}">
                            Lấy thiết bị
                        </a>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <!-- Table Header -->

    <script>
        $(document).ready(function () {
            console.log(1)
            loadingEle.hide()
        });
    </script>
    <script>
        $("#usageTable").DataTable({
            responsive: true,
            lengthChange: false,
        });
    </script>
    <script th:src="@{/js/device/alert.js}" type="text/javascript"></script>
</div>
</body>
<script src="https://code.jquery.com/jquery-3.7.1.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.datatables.net/2.0.5/js/dataTables.js"></script>
<script src="https://cdn.datatables.net/2.0.5/js/dataTables.bootstrap5.js"></script>
</html>
