<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
    <div class="main">
        <div class="row">
            <div class="col-2 sidebar p-0">
                <div class="logo">
                    <div class="icon-logo">
                        S
                    </div>
                    <div class="text-logo">
                        Device
                    </div>
                </div>
                <div class="menu-select">
                    <div class="item-select">
                        <div class="item-icon"><i class="fa-solid fa-user"></i></div>
                        <div class="item-text">Person</div>
                    </div>
                    <div class="item-select item-2">
                        <div class="item-icon"><i class="fa-solid fa-bars"></i></div>
                        <div class="item-text">Device</div>
                    </div>
                    <div class="item-select ">
                        <div class="item-icon"><i class="fa-solid fa-circle-exclamation"></i></div>
                        <div class="item-text">Penalty</div>
                    </div>
                    <div class="item-select ">
                        <div class="item-icon"><i class="fa-solid fa-mobile"></i></div>
                        <div class="item-text">Usage</div>
                    </div>
                </div>
            </div>
            <div class="col-10 ps-1 pe-0" style="background-color: rgba(240, 248, 255, 0.844);">
                    <div class="header container-fluid ">
                        <div class="row header-content ">
                            <div class="col-3">
                                <a class="navbar-brand" href="#">Admin</a>
                            </div>
                            <div class="col-7 nar-search">
                                <div class="nar-icon-search">
                                    <i class="fa-solid fa-magnifying-glass"></i>
                                </div>
                                <input class="form-control ps-5" type="search" placeholder="Search" aria-label="Search">
                            </div>
                            <div class="col-2 nar-user">
                                <div class="nar-icon">
                                    <i class="fa-solid fa-user"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="content-container">
                        <div class="nar-content">
                            <div class="nar-tag">
                                Quay lại
                            </div>
                        </div>
                        <div class="container-detail">
                            <div class="header-detail ms-4 me-4">
                                <div class="tag-detail">
                                    Device Detail <Span>#1000008</Span>
                                </div>
                                <div class="delete-detail">
                                    Xóa
                                </div>
                            </div>
                            <div class="line-content">
                            </div>
                            <div class="content-detail ms-4 me-4 mt-4">
                                <div class="row">
                                    <div class="col-6 input-detail">
                                        <div class="name-detail">Tên:</div>
                                        <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
                                    </div>
                                    <div class="col-6 input-detail">
                                        <div class="description-detail">Mô tả:</div>
                                        <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
                                    </div>
                                </div>
                            </div>
                            <div class="btn-detail mt-4">
                                <button type="button" class="btn btn-primary btn-update">Cập Nhật</button>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
</html>