<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{fragments/layout}">
<head>
    <title>Index</title>
</head>
<body>
<div layout:fragment="content">
    <div class="d-flex justify-content-between align-items-center py-4">
        <!--            <h4>Danh Sách</h4>-->
        <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
            <ol class="breadcrumb mb-0 font-weight-bold" style="font-size: 20px">
                <li class="breadcrumb-item">
                    <a class="text-decoration-none" th:href="@{/admin/device}">
                    Quản lý thiết bị
                    </a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">Danh sách</li>
            </ol>
        </nav>
        <a class="btn btn-primary" role="button" th:href="@{/admin/device/create}">Tạo mới</a>
    </div>
    <div class="bg-white border p-3" style="border-radius: 10px;">
        <h4 class="pb-3">Users</h4>
        <table id="example" class="table table-striped nowrap" style="width: 100%">
            <thead>
            <tr>
                <th>ID</th>
                <th>Tên</th>
                <th>Mô Tả</th>
                <th>Chức năng</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="device : ${list}">
                <td th:text="${device.id}">ID</td>
                <td th:text="${device.name}">Name</td>
                <td th:text="${device.description}">Department</td>
                <!--                <td th:text="${device.profession}">Profession</td>-->
                <!--                <td th:text="${device.email}">Email</td>-->
                <!--                <td th:text="${device.phoneNumber}">Phone Number</td>-->
                <td class="text-center">
                    <a th:href="@{/admin/device/detail/{id}(id=${device.id})}">
                        <i class="fa-solid fa-eye"></i>
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <script>
        $(document).ready(function () {
            $("#example").DataTable(
                {
                    searching: false,
                    responsive: true,
                    columnDefs: [{width: '10%', targets: 3}]
                });
            var entries = $(".dataTables_length");
            entries.appendTo(".col-sm-12.col-md-6");
            $(".dataTables_length:first").remove();
            loadingEle.hide()
        });
    </script>
    <style>
        .dataTables_length {
            float: right;
        }
    </style>
</div>
</body>
</html>
