<div class="header container-fluid d-flex justify-content-center bg-white" style="height: 90px">
    <nav class="d-flex justify-content-center header-content col-11">
        <div class="col-6">
            <p class="mb-0 fs-2 fw-bold">Admin</p>
        </div>

        <div class="col-6">
            <div class="col-12 nav-link gap-2 g-0 d-flex justify-content-end align-items-center pointer-event" id="navbarDropdown"
                 role="button"
                 data-bs-toggle="dropdown">
                <div class="d-flex justify-content-end align-items-center fw-medium" th:text="${user}">
                </div>
                <div class="nar-icon">
                    <i class="fa-solid fa-user"></i>
                </div>
            </div>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Thông tin</a>
                <a class="dropdown-item" th:href="@{/logout}">Đăng xuất</a>
            </div>
        </div>
    </nav>
</div>
<style>

    .nav-link.active {
        color: #fff !important;
    }
</style>