<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{fragments/layout}">
<head>
    <title>Detail</title>
</head>
<body>
<div layout:fragment="content">
    <div class="position-fixed top-0 end-0 p-3" style="z-index: 11">
        <div aria-atomic="true" aria-live="assertive" class="toast align-items-center bg-warning border-0"
             id="detail-error-toast"
             role="alert"
        >
            <div class="d-flex">
                <div class="toast-body" id="toast-body">
                </div>
                <button aria-label="Close" class="btn-close me-2 m-auto" data-bs-dismiss="toast" type="button"></button>
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-between align-items-center py-4">
        <a class="btn" role="button" th:href="@{/admin/person}">Quay lại</a>
        <div class="d-flex justify-content-center">
            <a class="btn btn-warning" role="button" th:href="@{/admin/person/}">Phạt</a>
            <a class="btn btn-primary ms-3" role="button" th:href="@{/admin/person/}">Lập phiếu</a>
        </div>
    </div>
    <div class="bg-white border p-3 p-md-5" style="border-radius: 10px;">
        <div class="d-flex justify-content-between align-items-center mb-3">

            <h4 class="">User Detail#<span th:text="${person.id}"></span></h4>
            <a id="btn-delete" class="btn btn-outline-danger" th:href="@{/admin/person/delete/{id}(id=${person.id})}">Xóa</a>

        </div>
        <hr/>
        <form class="mt-3" th:action="@{/admin/person/edit}" method="post" th:object="${person}">
            <div class="row">
                <div class="col-12 col-lg-6">
                    <div class="mb-3 row">
                        <label for="person_id" class="col-4 col-md-3 col-form-label">ID</label>
                        <div class="col-8 col-md-9">
                            <input type="number" disabled readonly class="form-control disabled" id="person_id"
                                   th:value="${person.id}" th:field="*{id}">
                            <input type="number" hidden th:value="${person.id}" th:field="*{id}">
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-6">
                    <div class="mb-3 row">
                        <label for="fullname" class="col-4 col-md-3 col-form-label">Họ Tên</label>
                        <div class="col-8 col-md-9">
                            <input type="text" class="form-control" id="fullname" th:value="${person.name}"
                                   th:field="*{name}">
                            <div class="validate text-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-lg-6">
                    <div class="mb-3 row">
                        <label for="email" class="col-4 col-md-3 col-form-label">Email</label>
                        <div class="col-8 col-md-9">
                            <input type="email" class="form-control" id="email" th:value="${person.email}"
                                   th:field="*{email}">
                            <div class="validate text-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-6">
                    <div class="mb-3 row">
                        <label for="phone" class="col-4 col-md-3 col-form-label">Điện thoại</label>
                        <div class="col-8 col-md-9">
                            <input type="number" class="form-control" id="phone"
                                   th:value="${person.phoneNumber}" th:field="*{phoneNumber}">
                            <div class="validate text-danger" th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-lg-6">
                    <div class="mb-3 row">
                        <label for="major" class="col-4 col-md-3 col-form-label">Ngành</label>
                        <div class="col-8 col-md-9">
                            <input type="text" class="form-control" id="major" th:value="${person.department}"
                                   th:field="*{department}">
                            <div class="validate text-danger" th:if="${#fields.hasErrors('department')}" th:errors="*{department}"></div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-6">
                    <div class="mb-3 row">
                        <label for="specialization" class="col-4 col-md-3 col-form-label pe-0">Chuyên Ngành</label>
                        <div class="col-8 col-md-9">
                            <input type="text" class="form-control" id="specialization"
                                   th:value="${person.profession}" th:field="*{profession}">
                            <div class="validate text-danger" th:if="${#fields.hasErrors('profession')}" th:errors="*{profession}"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="text-center">
                <button type="submit" class="btn btn-primary px-4">Cập nhật</button>
            </div>
        </form>

    </div>
    <style>
        label {
            font-size: 14px !important;
        }
    </style>
    <script>
        $(document).ready(function () {
            loadingEle.hide()
        })
    </script>
    <script th:src="@{/js/person/detail.js}" type="text/javascript"></script>
</div>
</body>
</html>
